.active{
	width: 100%;
}

.container{
	transition: all 0.3s ease-in-out;
	height: 7.5%;
	border:10vw 0 0 10vw;
}

.container:hover{
	background-color: rgba(39, 66, 75,0.2);
}

.circle_image{
	height: 100%;
	border-radius: 50%;
}

.image-container{
	margin: 0 1rem;
	height: 100%;
	display: inline-block;
}

.dot{
	width: 1rem;
	height: 1rem;
	background-color: rgb(3, 192, 3);
	border-radius: 50%;
	position: absolute;
	right: 0.2rem;
	bottom: 0;
}