.modal-back {
	background-color: rgba(255,255,255,0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 20;
	backdrop-filter: blur(5px);
	opacity:0;
	transition: all 0.7s ease-in-out;
	visibility: hidden;
}

.back-active{
	visibility: visible;
	opacity: 1;
}

.modal-header{
	height: 15%;
}

.modal-body{
	height: 70%;
}

.modal-footer{
	height: 20%;
}

.card{
	border-radius: 3rem;
	padding: 2rem;
	background-color: rgba(255,255,255,0.7);
	backdrop-filter: blur(5px);
	height: 30%;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width:768px) {
	.card{
		height: 100%;
	}
	.modal-footer{
		height: 10%;
	}
}