.emoji {
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	height: 30vh;
	bottom: 100%;
	left: 0;
	opacity: 0;
}

.emoji-button:hover .emoji {
	visibility: visible;
	opacity: 1;
	bottom:110%;
}