.full-height {
  height: 100%;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.font-1 {
  font-size: 0.5rem;
}

.font-2 {
  font-size: 1rem;
}

.font-3 {
  font-size: 1.5rem;
}

.font-4 {
  font-size: 2rem;
}

.font-5 {
  font-size: 2.5rem;
}

.font-6 {
  font-size: 3rem;
}

.font-7 {
  font-size: 3.5rem;
}

.font-8 {
  font-size: 4rem;
}

.font-9 {
  font-size: 4.5rem;
}




.text-primary-light {
  color: rgb(17, 33, 46);
}

.text-secondary-light {
  color: rgb(47, 90, 126);
}

.bg-primary-light {
  background-color: white;
}

.bg-secondary-light {
  background-color: rgb(211, 211, 211);
}

.bg-active-light {
  background-color: rgba(83, 115, 136, 0.7) !important;
}

.border-light {
  border: 0.2rem solid rgb(155, 155, 155);
}

.shadow-light {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, .3);
}





.text-primary-dark {
  color: rgb(223, 223, 223);
}

.text-secondary-dark {
  color: rgb(209, 209, 209);
}

.bg-primary-dark {
  background-color: rgb(36, 36, 36);
}

.bg-secondary-dark {
  background-color: rgb(56, 56, 56)
}

.bg-active-dark {
  background-color: rgba(83, 115, 136, 0.7) !important;
}

.border-dark {
  border: 0.2rem solid rgb(66, 66, 66);
}

.shadow-dark {
  box-shadow: 0 0 0.5rem rgba(101, 173, 255, 0.7);
}








::-webkit-scrollbar {
  width: 0.75rem;
}

.dark-scroll ::-webkit-scrollbar-track {
  background-color: rgb(56, 56, 56);
}

.dark-scroll ::-webkit-scrollbar-thumb {
  background-color: rgb(32, 32, 32);
}

.light-scroll ::-webkit-scrollbar-track {
  background-color: rgb(211, 211, 211);
}

.light-scroll ::-webkit-scrollbar-thumb {
  background-color: white;
}

.transition-02s {
  transition: all 0.2s ease-in-out;
}

.transition-03s {
  transition: all 0.3s ease-in-out;
}

.list-button {
  border: 0
}


.border-1 {
  border-radius: 1rem;
}

.border-2 {
  border-radius: 2rem;
}

.brd-5 {
  border-radius: 5rem;
}

.btn-1 {
  border-radius: 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

.btn-1-right {
  border-radius: 1rem 5rem 5rem 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

.btn-1-left {
  border-radius:  5rem 1rem 1rem 5rem ;
  font-size: 1.2rem;
  border: 0.1rem solid white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
}

.disabled {
  pointer-events: none;
  color: rgba(192, 192, 192, 0.7);
  border: 0.1rem solid rgba(192, 192, 192, 0.7);
}




.btn-1:hover {
  box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.35);
}


.input-form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  color: white;
  padding: 0.5rem 1rem;
  border: 0.1rem solid white;
  border-radius: 3rem;
}

.input-form:focus {
  border: 0.1rem solid rgb(189, 189, 189);
}

.input-form::placeholder {
  color: white;
}