.full-height {
  height: 100%;
}

li {
  list-style: none;
}

.text-purple {
  color: #b357b0;
}

.bg-active-primary {
  background-color: rgba(179, 87, 176, 0.3);
}

.bg-active-info {
  background-color: rgba(50, 202, 240, 0.3);
}

.font-1 {
  font-size: 1rem;
}

.font-2 {
  font-size: 1.5rem;
}

.font-3 {
  font-size: 2rem;
}

.font-4 {
  font-size: 2.5rem;
}

.font-5 {
  font-size: 3rem;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
.scroll_light ::-webkit-scrollbar-track {
  background: rgb(194, 194, 194);
}

.scroll_dark ::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
.scroll_primary ::-webkit-scrollbar-thumb {
  background: #b357b0;
  border-radius: 0.3rem;
}

/* Handle on hover */
.scroll_primary ::-webkit-scrollbar-thumb:hover {
  background: #9e4c9b;
}

/* Handle */
.scroll_info ::-webkit-scrollbar-thumb {
  background: #32caf0;
  border-radius: 0.3rem;
}

/* Handle on hover */
.scroll_info ::-webkit-scrollbar-thumb:hover {
  background: #2490ac;
}
